# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sascha Brechenmacher
	email = sascha.brechenmacher@1und1.de
[core]
	excludesfile = /Users/sbrech/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/sbrech/.stCommitMsg
	gpgSign = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gc]
	autoDetach = false
[pull]
	rebase = false
